.text-area{
    width: 228px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .heading {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .subheading {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  